* {
    --ecru: hsla(46, 27%, 65%, .3);
    --dark-liver: hsla(288, 6%, 33%, 1);
    --cordovan: hsla(354, 30%, 44%, 1);
    --isabelline: hsla(40, 26%, 93%, 1);
    --raisin-black: hsla(210, 3%, 15%, 1);

    /* new color pallet */
    --oxford-blue: hsla(214, 100%, 11%, 1);
    --prussian-blue: hsla(209, 100%, 16%, 1);
    --indigo-dye: hsla(208, 97%, 23%, 1);
    --yale-blue: hsla(207, 95%, 26%, 1);
    --up-maroon: hsla(352, 97%, 24%, 1);
    --ruby-red: hsla(349, 98%, 32%, 1);
    --upsdell-red: hsla(351, 90%, 39%, 1);
    --fire-engine-red: hsla(350, 89%, 43%, 1);
    --eerie-black: hsla(0, 0%, 7%, 1);
    --eerie-black-2: hsla(0, 0%, 15%, 1);
}

body {
    background-color: var(--eerie-black);
}

a {
    text-decoration: none;
    padding: 7px 5px 7px 5px;
    color: var(--isabelline);
}

p {
    color: var(--isabelline);
}

h1 {
    color: var(--isabelline);
}

h3 {
    color: var(--isabelline);
}

h2 {
    color: var(--isabelline);
}

label {
    color: var(--isabelline);
}

ul li {
    color: var(--isabelline);
}

.btn {
    color: var(--isabelline);
    background-color: var(--ruby-red);
}

.section-bkg {
    background-color: var(--yale-blue);
}

.page-header {
    padding: 20px 20px;
}

.page-footer {
    padding: 20px 20px;
}

.nav-link {
    padding: 20px;
    text-decoration: none;
}

.nav-link:hover {
    font-family: Tahoma;
    font-weight: bolder;
    font-size: large;
    text-decoration: none;
    color: whitesmoke;
}

.rounded-border {
    border-style: solid;
    border-width: 5px;
    border-radius: 25px;
    margin: 40px;
    color: var(--isabelline);
}

.project-link {
    font-size: 30px;
    padding: 20px;
    text-decoration: none;
}

.project-link:hover {
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    color:var(--ruby-red);
}

.image-border {
    border-style: solid;
    border-width: 10px;
    border-radius: 25px;
    border-color: var(--eerie-black);
}

.contact-cont {
    align-items: center;
}

.project-image {
    max-width: 500px;
    height: auto;
}

.about-image {
    max-width: 400px;
    height: auto;
}

.list-el {
    list-style-type: none;
}

.contact-link:hover {
    color: var(--isabelline);
    font-style: bold;
}

@media only screen and (max-width: 769px) {
    .project-image {
        max-width: 250px;
        height: auto;
    }

    .image-border {
        border-style: solid;
        border-width: 5px;
        border-radius: 25px;
        border-color: var(--eerie-black);
    }
}

@media only screen and (max-width: 600px) {
    .project-image {
        max-width: 200px;
        height: auto;
    }
}

@media only screen and (max-width: 420px) {
    .project-image {
        max-width: 150px;
        height: auto;
    }

    .image-border {
        border-style: solid;
        border-width: 2px;
        border-radius: 2px;
        border-color: var(--eerie-black);
    }
}

@media only screen and (max-width: 359px) {
    .project-image {
        max-width: 100px;
        height: auto;
    }
}

